@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');

body {
    font-family: 'Cambay', sans-serif;
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.6;
  }

#showcase {
    margin: 0;
    padding: 0;
    background: url('https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

#showcase .container {
    margin-top: 25vh;
}

#showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
}

#showcase h2 {
    font-size: 2rem;
}

  /* Section */
  .section {
    padding: 2rem 0;
}

.section-head {
    font-size: 2.5rem;
    margin: 0;
}

.section h3 {
    font-size: 2.5rem;
}

section#about {
    padding: 10rem 0;
}
  /* Utility classes */
  .container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

.lead {
    font-size: 1.3rem;
}

.text-center {
    text-align: center;
    color: #000;
}
.formbody{
    margin: 20px;;
}