@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');


@media screen and (max-width: 780px) {
    .gift-cards {
        grid-template-columns: 1fr;
    }
    footer .footer-cols {
        display: none;
    }
  }

  
  @media screen and (max-height 580px) {
      #showcase p.lead {
          display: none;
      }
  }

